<h1> Paper Producer 2: Actually running etsfit on the data </h1>

Written: 1/19/23

Updated: 1/19/23
    
Author: Lindsey Gordon

In [4]:
import os
import numpy as np
import pandas as pd
from etsfit import etsMAIN
import etsfit.utils.utilities as ut

<h2> Step 1: Downloading data </h2>

I've included a csv file in this folder of the 10 targets used in the paper's TNS info.

In [8]:
file = "tns_10.csv"
sn_list = ["2018exc", "2018fhw", "2018fub", "2020tld", "2020zbo", "2018hzh", "2020hvq", 
          "2020hdw", "2020bj", "2019gqv"]

df = pd.read_csv(file)
df

,Unnamed: 0,level_0,index,ID,Name,RA,DEC,Obj. Type,Redshift,Host Name,...,TNS AT,Public,End Prop. Period,Discovery Mag/Flux,Discovery Filter,Discovery Date (UT),Sender,Remarks,Ext. catalog/s,Sector
0,0,5,39,29346,SN 2018fub,00:40:30.760,-50:41:15.36,SN Ia,0.028800,2MASX J00403068-5041153,...,1,1,NaN,17.300,g-Sloan,2018-09-05 06:14:24.000,Stanek,NaN,NaN,2
1,1,10,84,70472,SN 2020zbo,03:22:16.063,-33:49:17.95,SN Ia,0.043270,WISEA J032216.20-334917.9,...,1,1,NaN,17.000,g-Sloan,2020-11-06 06:43:12.000,Vallely,NaN,NaN,31
2,2,13,101,29028,SN 2018fhw,04:18:06.200,-63:36:56.41,SN Ia,0.017000,2MASX J04180598-6336523,...,1,1,NaN,16.800,V-Johnson,2018-08-21 07:26:24.000,Vallely,NaN,NaN,1
3,3,14,103,28747,SN 2018exc,21:00:08.018,-40:21:30.94,SN Ia,0.057000,NaN,...,1,1,NaN,17.869,cyan-ATLAS,2018-08-11 10:13:26.000,ATLAS_Bot1,NaN,NaN,1
4,4,17,141,58415,SN 2020hvq,16:46:34.860,+62:49:36.80,SN Ia,0.019043,NaN,...,1,1,NaN,17.348,cyan-ATLAS,2020-04-21 13:24:57.600,ATLAS_Bot1,NaN,NaN,24
5,5,18,146,30851,SN 2018hzh,04:07:12.870,-37:03:10.44,SN Ia,0.035000,NaN,...,1,1,NaN,17.754,orange-ATLAS,2018-11-05 12:48:57.000,ATLAS_Bot1,NaN,NaN,4
6,6,30,248,57899,SN 2020hdw,16:00:51.990,+56:21:09.00,SN Ia,0.060000,NaN,...,1,1,NaN,17.460,r-ZTF,2020-04-14 10:39:20.736,ZTF_AMPEL_COMPLETE,NaN,NaN,23
7,7,32,277,66600,SN 2020tld,00:29:41.590,-51:32:09.60,SN Ia,0.011201,ESO 194- G 021,...,1,1,NaN,17.000,g-Sloan,2020-09-15 23:45:36.000,Stanek,NaN,NaN,29
8,8,33,309,51543,SN 2020bj,16:58:25.350,+68:13:56.71,SN Ia,0.050000,WISEA J165825.34+681357.4,...,1,1,NaN,17.799,r-ZTF,2020-01-02 12:17:00.000,ALeRCE,NaN,NaN,20
9,9,35,321,38522,SN 2019gqv,07:50:19.060,-72:52:35.26,SN Ia,0.017000,ESO 035- G 017,...,1,1,NaN,16.700,g-Sloan,2019-06-01 17:45:36.000,Stanek,NaN,NaN,12

In [ ]:
# download via tessreduce: 
data_dir = "/Users/lindseygordon/research/urop/tessreduce_lc/"
cdir = "/Users/lindseygordon/.lightkurve-cache/tesscut/" # this is where tesscut files will end up
#you need to specify it so it can delete them because they're huge and your poor laptop cannot have too many
ut.tr_downloader(file, data_dir, cdir)

<h2> Step 2: Section xx in paper </h2>